h2 {
    text-align: center;
    margin-top: 48px;
}

div {
    height: 200px;
    width: 50%;
    max-width: 600px;
    margin: 32px auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

.scroll {
    background: url('https://picsum.photos/700?id=1');
    background-attachment: scroll;
}

.fixed {
    background: url('https://picsum.photos/700?id=3');
    background-attachment: fixed;
}

.local {
    background: url('https://picsum.photos/700?id=3');
    background-attachment: local;
}

.expand {
    height: 400px;
    width: 100%;
}

.extra-space {
    margin-bottom: 50px;
}