div.icon {
    background-image: url(../img/ui-icons_444444_256x240.png);
    border: 1px solid black;
    height: 16px;
    width: 16px;
    margin: 10px;
}

div.icon.lupa-mas {
    background-position: -128px -112px;
}

div.icon.lupa-menos {
    background-position: -144px -112px;
}