/* ESTILOS GENERALES */
body {
    margin: 0;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
}

h1,
p {
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 30px 15px 30px;
}

/* FONDO */
.container>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container>.transparencia {
    position: absolute;
    background-color: rgba(222, 184, 135); 
    opacity: 0.6;
    left: 0;
    width: 100%;
    height: 100%;
}

/* TÃTULO */
.container>.titulo {
    position: absolute;
    z-index: 2;
    /* top: 30px;
    left: 100px; */
    margin-top: 30px;
    margin-left: 100px;
    transform: skewX(-8deg);
    text-align: center;
    width: max-content;
    background-color: black;
    color: white;
    box-shadow: 1px 2px 6px 0px white;
}

.container>.titulo>h1 {
    position: relative;
    font-size: 50px;
    background-color: #05a830;
    border-bottom: 10px solid white;
    padding: 0px 30px;
    animation: animacionh1 2s forwards;
}

.container>.titulo>p {
    position: relative;
    font-size: 25px;
    animation: animacionP 1.5s forwards;
}
/* HOVER CORTINA */
.container>.titulo:hover~.transparencia{
    left: 100%;
    opacity: 0.1;
    transition: opacity 2s, left 3s ease-out;
}
/* ANIMACIONES*/
@keyframes animacionh1 {
    0% {
        left: -500px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes animacionP {
    0% {
        right: -1000px;
        opacity: 0;
    }

    100% {
        right: 0px;
        opacity: 1;
    }
}

/* MEDIA QUERY */

@media (max-width: 575.98px){
    .container>.titulo{
        width: 80%;
        min-width: 375px;
        margin: 30px auto auto 50px;
    }
    .container>.titulo>h1{
        font-size: 50px;
    }
}