/*
Basado en https://codepen.io/LandonSchropp/pen/KpzzGo/?editors=1100 
*/

* {
  box-sizing: border-box;
}

.ficha {
  background-color: #e7e7e7;
  box-shadow: inset 0 5px white, inset 0 -5px #bbb, inset 5px 0 #d7d7d7,
    inset -5px 0 #d7d7d7;
  border-radius: 10%;

  width: 104px;
  /* A eliminar en ejercicios posteriores */
  height: 104px;
  /* A eliminar en ejercicios posteriores */
}

.ficha .cara {
  padding: 4px;
}

.ficha .cara>div {
  width: 24px;
  height: 24px;
  margin: 4px;
  border-radius: 50%;
  background-color: #333;
  box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

/* ------------------DADO1--------------------------------*/
div.dados {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 10px;
}

.ficha.uno>div.cara {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* ----------------DADO2-------------------- */
.ficha.dos>div.cara {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.ficha.dos>div.cara>div:last-child {
  align-self: flex-end;
}

/* ----------------DADO3-------------------- */
.ficha.tres>div.cara {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.ficha.tres>div.cara>div:nth-child(2) {
  align-self: center;
}

.ficha.tres>div.cara>div:nth-child(3) {
  align-self: flex-end;
}