/*
<nav class="nav_t">
            <a href="#">Home</a>
            <a href="#">Acerca de</a>
            <a href="#">Contacto</a>
            <div class="animation start-home"></div>
</nav>

Estilos adaptados de https://codepen.io/Patak/pen/QpLpOV
*/
nav.nav_t {
	margin: 0px auto 0;
	position: relative;
	width: 310px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
    font-family: Verdana, Geneva, Tahoma;
}
nav.nav_t a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav.nav_t .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
nav.nav_t a:nth-child(1) {
	width: 100px;
}
nav.nav_t a:nth-child(2) {
	width: 110px;
}
nav.nav_t a:nth-child(3) {
	width: 100px;
}
nav.nav_t a:nth-child(4) {
	width: 160px;
}
nav.nav_t a:nth-child(5) {
	width: 120px;
}
nav.nav_t .start-home, nav.nav_t a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav.nav_t .start-about, nav.nav_t a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav.nav_t .start-blog, nav.nav_t a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav.nav_t .start-portefolio,nav.nav_t  a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav.nav_t .start-contact, nav.nav_t a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}