#parrafo1 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    font-variant: small-caps;
    color: #666666;
    background-image: url(img/pluma.png);
    background-repeat: repeat;
    border: medium dotted #00ff00;
    padding: 20px;
}

ol {
    list-style-position: inside;
    list-style-type: lower-roman;
}

ul {
    list-style-position: inside;
    list-style-image: url(img/vineta.png);
}

body {
    color: #ca7c35;
}

a:link {
    text-transform: lowercase;
}

a:hover {
    text-transform: uppercase;
}