.azul{
    background-color: #adc2ff;
}

.rosaClaro{
    background-color: #ffaef9;
}

.rosaOscuro{
    background-color: #ff97c3;
}

.salmon{
    background-color: #ff9a9a;
}

.naranja{
    background-color: #ffc184;
}

.amarillo{
    background-color: #ffff93;
}

.verde{
    background-color: #b6ff90;
}

.morado{
    background-color: #c494ff;
}

.turquesa{
    background-color: #87ffd7;
}

.kiwi{
    background-color: #d7d67e;
}